
footer {
    position: absolute;
    bottom: 10px; left: 0; right: 0;
    margin: 0;
    padding: 0;
    text-align: center;

    p {
        margin: 4px auto;
    }

    p:first-of-type {
        a {
            margin: 0 5px;
        }
    }

    p:last-of-type {
        color: #bbb;

        a:hover {
            color: #888;
        }
    }

    .qrcode-box {
        position: absolute;
        right: 30px; bottom: 50px;
        width: 46px;
        height: 74px;
        background: url("../img/btn_card.png") 0 0 no-repeat;

        &:hover {
            background: url("../img/btn_card.png") 0 -74px no-repeat;
        }

        .qrcode {
            position: absolute;
            right: 20px; top: -5px;
            width: 85px;
            height: 85px;
            background: url("../img/ico_erwm.png") 0 0 no-repeat;
            background-size: cover;

            /* */
            -webkit-transform: scale(0) translateX(0);
            -moz-transform: scale(0) translateX(0);
            -ms-transform: scale(0) translateX(0);
            -o-transform: scale(0) translateX(0);
            transform: scale(0) translateX(0);
            /* */
            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
            -ms-transition: transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }

        &:hover > .qrcode{
            -webkit-transform: scale(1) translateX(-50%);
            -moz-transform: scale(1) translateX(-50%);
            -ms-transform: scale(1) translateX(-50%);
            -o-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
        }

    }


}
