@charset "UTF-8";
html,
body {
    font: normal 15px "microsoft yahei", "arial, helvetica, sans-serif";
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    color: #666;
    min-height: 600px;
}

a {
    font-size: 14px;
    color: inherit;
    outline: none;
    text-decoration: none;
}

a.red:hover {
    color: rgba(255, 0, 0, 0.8) !important;
}

.nav-left .more,
.nav-right li:first-of-type .tianqi,
.nav-right li:last-of-type .menu {
    /* 淡淡的阴影 */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.newTop {
    /* 顶端 新字 */
    position: relative;
}

.newTop::after {
    display: block;
    content: "新";
    position: absolute;
    top: -12px;
    right: -6px;
    font-size: 12px;
    background-color: rgba(255, 60, 0, 0.9);
    color: white;
    padding: 0 2px;
    line-height: 16px;
    border-radius: 3px;
}

.nav {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    height: 50px;
    background-color: transparent;
    color: #555;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.nav ul {
    margin: 0;
    padding: 5px;
    list-style: none;
}

.nav ul li {
    float: left;
    font-size: 14px;
}

.nav ul li a {
    padding: 0 8px;
    text-align: center;
}

.nav ul li a.active {
    color: #ff3c00;
}

.nav-left li:last-of-type {
    height: 30px;
    position: relative;
}

.nav-left li:last-of-type:hover {
    background-color: transparent;
}

.nav-left li:last-of-type:hover > a {
    color: rgba(255, 60, 0, 0.9);
}

.nav-left li:last-of-type:hover .more {
    /* 显示更多列表 */
    display: block;
}

.nav-left .more {
    display: none;
    position: absolute;
    top: 25px;
    left: -5px;
    z-index: 5;
    width: 60px;
    height: auto;
    padding: 0;
}

.nav-left .more > a {
    display: block;
    font-weight: normal;
    margin: 2px 0;
    padding: 3px 0;
    text-align: center;
}

.nav-left .more > a:hover {
    color: white !important;
    background-color: rgba(255, 60, 0, 0.8);
}

.nav-right li:first-of-type {
    /* 天气 */
    border-right: 1px solid #ddd;
    padding: 0 15px;
    position: relative;
}

.nav-right li:first-of-type .tianqi {
    /* 天气面板 */
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: -35px;
    width: 240px;
    height: 0;
    padding: 10px;
    margin: 0;
    background-color: white;
    cursor: pointer;
    z-index: 5;
    /* */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-right li:first-of-type .tianqi > header .content {
    /* 详细天气 */
    height: 120px;
    margin-top: 8px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.nav-right li:first-of-type .tianqi > header .content > div {
    box-sizing: border-box;
    flex: 1.0;
}

.nav-right li:first-of-type .tianqi > header .content > .content-left {
    text-align: center;
    padding: 0 10px;
}

.nav-right li:first-of-type .tianqi > header .content > .content-right {
    text-align: center;
}

.nav-right li:first-of-type .tianqi > header .content > .content-right > div {
    padding: 2px 0;
}

.nav-right li:first-of-type .tianqi > header .content:hover {
    background-color: #f1f1f1;
}

.nav-right li:first-of-type .tianqi > footer {
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ebebeb;
    display: flex;
    display: -webkit-flex;
}

.nav-right li:first-of-type .tianqi > footer > .item {
    flex: 1.0;
    height: 100%;
    padding: 10px 0 0;
}

.nav-right li:first-of-type .tianqi > footer > .item:hover {
    background-color: #f1f1f1;
}

.nav-right li:first-of-type .tianqi > footer > .item > img {
    padding: 5px 0 3px;
}

.nav-right li:first-of-type:hover {
    height: 30px;
}

.nav-right li:first-of-type:hover .tianqi {
    opacity: 1;
    height: 260px;
}

.nav-right li {
    margin: 0 5px;
}

.nav-right li > .sign-in {
    font: inherit;
    font-size: 13px;
    border: 1px solid rgba(255, 60, 0, 0.8);
    background-color: rgba(255, 60, 0, 0.8);
    color: white;
    border-radius: 4px;
    padding: 2px 10px;
    cursor: pointer;
}

.nav-right li > .sign-in:hover {
    background-color: rgba(255, 60, 0, 0.9);
    -webkit-box-shadow: 0 0 3px rgba(255, 60, 0, 0.9);
    -moz-box-shadow: 0 0 3px rgba(255, 60, 0, 0.9);
    box-shadow: 0 0 3px rgba(255, 60, 0, 0.9);
}

.nav-right li:last-of-type {
    /* 菜单 */
    position: relative;
    width: 40px;
    height: 25px;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 3px 0 3px 5px;
}

.nav-right li:last-of-type > span {
    padding: 40px;
    background: url("../img/menu.png") right no-repeat;
    background-size: 100%;
}

.nav-right li:last-of-type:hover .menu {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    /* */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-right li:last-of-type .menu {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 80px;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.nav-right li:last-of-type .menu > a {
    display: block;
    font-weight: normal;
    margin: 2px 0;
    padding: 3px 5px;
    text-align: center;
}

.nav-right li:last-of-type .menu > a:hover {
    color: white !important;
    background-color: rgba(255, 60, 0, 0.8);
}


/*# sourceMappingURL=nav.css.map */