$colorHover: rgba(255, 60, 0, 0.9);
$color: rgba(255, 60, 0, 0.8);

html, body {
    font: normal 15px 'consolas', "microsoft yahei", "arial, helvetica, sans-serif";
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
    color: #666;

}

a {
    font-size: 14px;
    color: inherit;
    outline: none;
    text-decoration: none;
}

a.red:hover {
    color: rgba(255, 0, 0, 0.8);
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.newTop { /* 顶端 新字 */
    position: relative;

    &::after {
        display: block;
        content: "新";
        position: absolute;
        top: -12px; right: -6px;
        font-size: 12px;
        background-color: $colorHover;
        color: white;
        padding: 0 2px;
        line-height: 16px;
        border-radius: 3px;
    }

}

.nav {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    height: 50px;
    background-color: transparent;
    color: #555;

    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

    ul {
        margin: 0;
        padding: 5px;

        list-style: none;

        li {
            float: left;
            font-size: 14px;

            a {
                padding: 0 8px;
                text-align: center;
            }

            a.active {
                color: rgba(255, 60, 0, 1);
            }
        }
    }
}


.nav-left {

    li:last-of-type {
        height: 30px;
        position: relative;

        &:hover {
            background-color: transparent;

            > a {
                color: $colorHover;
            }

            .more { /* 显示更多列表 */
                display: block;
            }
        }
    }

    .more {
        display: none;
        position: absolute;
        top: 25px; left: -5px;
        z-index: 5;
        width: 60px;
        height: auto;
        padding: 0;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        > a {
            display: block;
            font-weight: normal;
            margin: 2px 0;
            padding: 3px 0;
            text-align: center;

            &:hover {
                color: white !important;
                background-color: $color;
            }
        }
    }
}

.nav-right {

    li:first-of-type { /* 天气 */
        border-right: 1px solid #ddd;
        padding: 0 10px;
    }

    li {
        margin: 0 5px;
    }

    li > .sign-in {
        font: inherit;
        font-size: 13px;
        border: 1px solid $color;
        background-color: $color;
        color: white;
        border-radius: 4px;
        padding: 2px 10px;
    }

    li:last-of-type { /* 菜单 */
        position: relative;
        width: 40px;
        height: 25px;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        padding: 3px 0;

        > span {
            padding: 45px 40px;
            background: url("../img/menu.png") right no-repeat;
            background-size: 100%;
        }

        &:hover .menu {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            transform: translateX(0%);

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .menu {
            position: absolute;
            top: 50px;  right: 10px;
            width: 80px;

            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            -webkit-transform: translateX(200%);
            -moz-transform: translateX(200%);
            -ms-transform: translateX(200%);
            -o-transform: translateX(200%);
            transform: translateX(200%);

            > a {
                display: block;
                font-weight: normal;
                margin: 2px 0;
                padding: 3px 5px;
                text-align: center;

                &:hover {
                    color: white !important;
                    background-color: $color;
                }
            }
        }
    }
}

