<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>即时聊天应用</title>

    <link rel="stylesheet" type="text/css" href="css/all.css"/>

    <script src="js/reset.js"></script>

    <script src="js/src/jquery.min.js"></script>
    <script src="js/src/socket.io.min.js"></script>
    <script src="js/src/vue.min.js"></script>
</head>
<body>

    <header class="header">
        <div class="logo"></div>
        <div class="menu"></div>
    </header>

    <section class="main" id="main">

        <section class="begin" id="begin">
            <div class="login">
                <head-box :user="user"></head-box>
                <div class="box">
                    <input
                        type="text"
                        name="username"
                        class="input-name"
                        placeholder="you name"
                        maxlength="8"
                        v-model="user.name"
                        autocomplete="off"
                        />
                    <div class="msg" id="msg"></div>
                    <button class="set-name" @click="go($event)">开始聊天</button>
                </div>
            </div>

        </section>

        <section class="app" id="app">

            <div class="user left">
                <div class="user-my">
                    <head-box :user="user"></head-box>
                    <div class="box">
                        <p>进入聊天</p>
                        <p>{{ user.time }}</p>
                    </div>

                    <button class="exit center" @click="exit($event)">退出</button>
                </div>

                <div class="user-he"></div>
            </div>

            <div class="chat center">

                <div class="title">
                    <span class="title-msg">@Lizhooh 即时聊天应用</span>
                    <span class="right">当前: <s v-cloak>{{ list.length }}</s> 人</span>
                </div>

                <div class="news" id="news">
                    <ul class="news-list">
                        <li is='news-they' v-for="lnews in news" :news="lnews"></li>
                    </ul>
                </div>

                <textarea class="inmsg" id="inmsg" contenteditable="true" maxlength="1024"></textarea>

                <!--<div class="inmsg" id="inmsg" contenteditable="plaintext-only" maxlength="300"></div>-->

                <button class="ok" @click="addInfo($event)">发送</button>
                <button class="clear" @click="clearInfo($event)">清屏</button>
            </div>

            <div class="list right">
                <ul id="user-list">
                    <li is='user-list-item' v-for="luser in list" :user="luser"></li>
                </ul>
            </div>

        </section>

    </section>

    <footer class="footer">
        <p>copyright @ 2016 Lzihooh </p>
    </footer>

    <!-- function -->
    <script src="js/module/vue/v-function.js"></script>

    <!-- scoket -->
    <script src="js/module/scoket/io-app.js"></script>

    <!-- vue -->
    <script src="js/module/vue/v-component.js"></script>
    <script src="js/module/vue/v-app.js"></script>

    <!-- jquery -->
    <script src="js/src/jquery.nicescroll.min.js"></script>
    <script src="js/module/jquery/jq-app.js"></script>

</body>
</html>