$rootImg: '../img/';

/**
 * 第一页的背景图
 */
$cl-bg: 'qqipad-c-large-bg';

%clBg {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    background-size: cover;
}

.cl-bg {
    opacity: 0;
}

@for $i from 1 to 4 {
    .cl-bg#{$i} {
        background: transparent url("#{$rootImg}#{$cl-bg}#{$i}.png") center center no-repeat;
        @extend %clBg;
    }

}

/**
 * 一些小的 icon 图
 */
$iconList: (
    mac: 3px,
    pad: -26px
);

.icon {
    padding: 30px 15px;
}

@each $key, $value in $iconList {
    .icon.#{$key} {
        background: transparent url("#{$rootImg}spr-icon.png") #{$value} -45px no-repeat;
    }
}

/**
 *
 */

.img-list-1 {

    .pro-img {
        position: absolute;
        bottom: 5%; right: -10%;
        width: 900px;
        height: 640px;
        background: transparent url('#{$rootImg}qqipad-img-large-A.png') 0 0 no-repeat;

//      animation: proImg 1s ease-in-out 0.5s;
        @at-root {
            @keyframes proImg{
                0%{
                    bottom: 20%;
                }
                100% {
                    bottom: 5%;
                }
            }

            @keyframes proImg-media{
                0%{
                    bottom: 25%;
                }
                100% {
                    bottom: 10%;
                }
            }
        }
    }

    .pro-text {
        position: absolute;
        bottom: calc(5% + 100px); right: calc(-10% + 900px);
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }
}


.img-list-2 {

    .pro-img {
        position: absolute;
        bottom: 5%; left: -10%;
        width: 900px;
        height: 640px;
        background: transparent url("#{$rootImg}ikan-imgWX-large.png") 0 0 no-repeat;
    }

    .pro-text {
        position: absolute;
        bottom: calc(5% + 100px); left: calc(-10% + 900px);
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }
}

.img-list-3 {
    .pro-img {
        position: absolute;
        bottom: 5%; right: -10%;
        width: 900px;
        height: 640px;
        background: transparent url("#{$rootImg}file-img-large-A.png") 0 0 no-repeat;
    }

    .pro-text {
        position: absolute;
        bottom: calc(5% + 100px); right: calc(-10% + 900px);
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }
}

.img-list-4 {
    .pro-img {
        position: absolute;
        bottom: 5%; left: -10%;
        width: 900px;
        height: 640px;
        background: transparent url("#{$rootImg}screen-img-large.png") 0 0 no-repeat;
    }

    .pro-text {
        position: absolute;
        bottom: calc(5% + 100px); left: calc(-10% + 900px);
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }
}


@media screen and (min-height: 800px) {

    .img-list-1 {

        .pro-img {
            bottom: 10% !important;
            animation: proImg-media 1s ease-in-out 0.5s;
        }

        .pro-text {
            bottom: 10% !important;
        }

    }

    .img-list-2 {

        .pro-img {
            bottom: 10% !important;
        }

        .pro-text {
            bottom: 10% !important;
        }

    }
}