@charset "UTF-8";
.header {
  font: inherit;
  margin: 0;
  padding: 0 0 20px;
}
.header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  z-index: 5;
}

.nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  color: white;
}
.nav .logo {
  margin: 6px 10px !important;
  padding: 10px;
  display: inline;
  background-color: transparent !important;
}
.nav .menu {
  width: 500px;
}
.nav .menu .menu-list {
  display: block;
  height: 100%;
  overflow: hidden;
  clear: both;
}
.nav .menu .menu-list li {
  text-align: center;
  margin: 0 10px;
}
.nav .menu .menu-list li:nth-child(n + 2) {
  height: 75px;
  width: 80px;
  line-height: 80px;
}
.nav .menu .menu-list li:nth-child(n + 2) a {
  padding: 25px 16px;
  font-size: 18px;
  color: inherit;
}
.nav .menu .menu-list li:nth-child(n + 2):hover {
  background-color: #12b7f5;
}
.nav .menu .menu-list li.other-color {
  color: #333;
  background-color: white;
}
.nav .menu .menu-list li.other-color a:hover {
  color: #12b7f5;
}
.nav .menu .menu-list li.other-color:hover {
  background-color: white !important;
}
.nav .menu .menu-list li.other-color.active {
  color: #12b7f5;
}
.nav .menu .menu-list .active {
  background-color: #12b7f5;
}
.nav .menu .menu-list:hover {
  /* 父元素影响子元素 */
}
.nav .menu .menu-list:hover li {
  background-color: transparent;
}
.nav .menu .menu-list:hover li:hover {
  background-color: #12b7f5;
}
.nav .menu .menu-list.other-color:hover li {
  color: #333 !important;
}
.nav .menu .menu-list.other-color:hover li:hover {
  color: #12b7f5 !important;
}
.nav .other {
  color: inherit;
}
.nav .other a {
  color: inherit;
}
.nav .other .other-box {
  padding: 15px;
}
.nav .other .other-box ul li:last-of-type {
  margin: 3px 0 0 15px;
}
.nav .other .other-box ul li:last-of-type a {
  margin: 0 15px 0 0;
}
.nav .other .other-box ul li:last-of-type a:hover {
  color: #12b7f5;
}
.nav .other .sign-in {
  cursor: pointer;
  font: inherit;
  background-color: #12b7f5;
  border: none;
  border-radius: 40px;
  padding: 0.5em 1.8em;
  color: white;
  font-size: 17px;
  outline: none;
  margin: 5px 10px;
}
.nav .other .sign-in:hover {
  background-color: #12bcf5;
}
.nav .other .number {
  margin: 5px 0;
  font-size: 14px;
}

.header.scroll {
  /* 滚动条滚到下面的状态 */
}
.header.scroll nav {
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
}
.header.scroll .nav {
  color: #222;
}
.header.scroll .nav .menu .menu-list li {
  color: #333;
  background-color: white;
}
.header.scroll .nav .menu .menu-list li a:hover {
  color: #12b7f5;
}
.header.scroll .nav .menu .menu-list li:hover {
  background-color: white !important;
}
.header.scroll .nav .menu .menu-list li.active {
  color: #12b7f5;
}
.header.scroll .nav .menu .menu-list .active {
  background-color: white;
}
.header.scroll .nav .menu .menu-list:hover {
  /* 父元素影响子元素 */
}
.header.scroll .nav .menu .menu-list:hover li {
  color: #333 !important;
}
.header.scroll .nav .menu .menu-list:hover li:hover {
  color: #12b7f5 !important;
}

/*# sourceMappingURL=nav.css.map */
